@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    background: #807051;
}

.info {
    background: #fff;
    padding-bottom: 40px 0;
}


.info-inner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px 40px;

    display: flex;
    align-items: center;
    gap: 80px;
    padding-bottom: 20px;
    border-bottom: 2px solid #807051;
}

.info-reverse .info-inner {
    flex-direction: row-reverse;
}

.info-text {
    flex: 1;
}

.info-photo {
    flex: 1;
}

.info-text li::marker {
    color: #89C338;
}

.photo {
    border-radius: 2%;
    width: 100%;
}


@media (max-width: 600px) {
    .info-inner {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .info-reverse .info-inner {
        flex-direction: column;
    }

}