.zdjecia {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.zdjecia img {
    width: 300px;
    border-radius: 2%;
}

section {
    max-width: 1500px;
    margin: 40px auto;
    padding: 0 40px;
}

section h1 {
    text-align: center;
    margin-bottom: 40px;
}

.galeria {
    margin-bottom: 60px;
}

.galeria h2 {
    text-align: center;
    margin-bottom: 20px;
}