@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    background: #f6f6f5;
}

.zdjecia {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.zdjecia img {
    width: 300px;
    border-radius: 2%;
    cursor: zoom-in;
}

.zdjecia img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

section {
    width: 90%;
    max-width: 1600px;
    margin: 40px auto;
    padding: 0 40px;
}

section h1 {
    text-align: center;
    margin-bottom: 40px;
}

.galeria {
    margin-bottom: 60px;
}

.galeria h2 {
    text-align: center;
    margin-bottom: 20px;
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 254, 254, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#lightbox img {
    width: 800px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 600px) {

    section {
        padding: 0 16px;
        margin: 24px auto;
    }


    .zdjecia {
        flex-direction: column;
        gap: 16px;
    }

    .zdjecia img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    #lightbox img {
        width: 90%;
        height: auto;
        max-height: 80vh;
        object-fit: contain;
    }
}