.nav {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 20px 40px; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #54941E;
}

.burger {
    display: none;
    border: 0;
    background: transparent;
    font-size: 28px;
    line-height: 1;
    cursor: pointer;
    color: #000;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.logo img {
    height: 60px;
}



.menu ul {
    list-style-type: none;
    display: flex;
    height: 100%;
}



.menu a {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 16px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

.menu a.active {
  color: #5B4329;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(137, 195, 56, 0.3);
}

.menu li a:hover {
    background-color: #89C338;
    color: #fff;
    transform: translateY(-2px);
    border-radius: 4%;
}

.menu-mobile {
    display: none;
    background: #807051;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}

.menu-mobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-mobile li {
    border-top: 1px solid #ccc;
}

.menu-mobile a {
    display: block;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    color: #ccc;
    font-size: 16px;
    font-weight: 500;
}

.menu-mobile a:hover {
    background: #5B4D29;
}



.footer {
    background: #5B4D29;
    padding: 60px 20px 40px;
    text-align: center;
}

.footer div {
    max-width: 1200px;
    margin: 0 auto;
}

.footer h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #FCFDFF;
}

.footer .coords {
    margin: 0 0 10px;
    font-size: 12px;
    color: #FCFDFF;
}

.footer .copy {
    margin: 0;
    font-size: 11px;
    color: #FCFDFF;
}

@media (max-width: 600px) {

    .nav {
        padding: 14px 16px;
    }

    .menu {
        display: none;
    }

    .logo strong {
        font-size: 14px;
    }

    .logo img {
        height: 28px;
    }

    .menu-mobile.active {
        display: block;
    }

    .burger {
        display: block;
    }

    .footer hr {
        width: 70%;
    }
}