@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    background: #807051;
}

.oferta {
    background: #fff;
    padding-bottom: 40px 0;
}


.oferta-inner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px 40px;

    display: flex;
    align-items: center;
    gap: 80px;
    padding-bottom: 20px;
    /*border-bottom: 2px solid #807051;*/
}

.oferta-reverse .oferta-inner {
    flex-direction: row-reverse;
}

.oferta-text {
    flex: 1;
    text-align: justify;
}

.oferta-photo {
    flex: 1;
}

.oferta-text li::marker {
    color: #89C338;
}

.photo {
    border-radius: 2%;
    width: 100%;
}


.menu-pdf {
    background: #fff;
    padding: 20px 20px;
    text-align: center;
}

.menu-pdf h1 {
    margin-bottom: 30px;
}

.menu-pdf iframe {
    width: 100%;
    max-width: 900px;
    height: 600px;
    border: none;

    border-radius: 2%;
}

@media (max-width: 600px) {
    .oferta-inner {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .oferta-reverse .oferta-inner {
        flex-direction: column;
    }

    .menu-pdf iframe {
        height: 380px;
    }
}